div {
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: #333;
    color: #ffcccc;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    zoom: 150%;
}

h1 {
    color: #ffcc00;
}

h2 {
    color: #ffcc00;
}

h3 {
    color: #ffcc00;
}

#calculateButton {
    display: none;
}

.title {
    color: #ffcc00;
}

.percentage {
    color: #0080ff;
    font-size: xx-large;
}